NODE_ENV=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_MEMORY_LIMIT=
POSTGRES_CPUS=
DATABASE_URL=
DATABASE_POOL_TIMEOUT=

REDIS_URL=
REDIS_MEMORY_LIMIT=
REDIS_CPUS=

RABBITMQ_ENABLED=
RABBITMQ_URL=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_BIND_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_BIND_HOST=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_MEMORY_LIMIT=
RABBITMQ_CPUS=
RABBITMQ_EXCHANGE=
RABBITMQ_NOTIFICATIONS_QUEUE=
RABBITMQ_DOCUMENT_CLEANUP_QUEUE=
RABBITMQ_PREFETCH=
RABBITMQ_CONSUMER_RETRY_INTERVAL_MS=
ASYNC_OUTBOX_PUBLISHER_ENABLED=
ASYNC_OUTBOX_PUBLISHER_INTERVAL_MS=
ASYNC_OUTBOX_PUBLISHER_BATCH_SIZE=
ASYNC_OUTBOX_DATABASE_RETRY_ATTEMPTS=
ASYNC_OUTBOX_DATABASE_RETRY_BASE_DELAY_MS=
DOCUMENT_CLEANUP_INLINE_PROCESSING_ENABLED=
DOCUMENT_CLEANUP_SCHEDULER_ENABLED=
DOCUMENT_CLEANUP_RECOVERY_INTERVAL_MS=
NOTIFICATIONS_SCHEDULER_ENABLED=

API_HOST=
API_PORT=
API_PUBLIC_URL=
API_CORS_MODE=
API_MEMORY_LIMIT=
API_CPUS=
API_NODE_OPTIONS=
API_DATABASE_CONNECTION_LIMIT=
FRONTEND_PUBLIC_URL=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=
GOOGLE_AUTH_ENABLED=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_CALENDAR_ENABLED=false
GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_REDIRECT_URI=
GOOGLE_CALENDAR_FRONTEND_CALLBACK_URL=
GOOGLE_CALENDAR_TOKEN_ENCRYPTION_KEY=
SAE_TUCUMAN_LOGIN_URL=
SAE_TUCUMAN_PROCEEDINGS_URL=
SAE_TUCUMAN_ORIGIN=
SAE_TUCUMAN_USER_AGENT=

WEB_PORT=
WEB_MEMORY_LIMIT=
WEB_CPUS=
WEB_NODE_OPTIONS=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_PROXY_ORIGIN=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
AUTH_COOKIE_SECURE=

WORKER_MEMORY_LIMIT=
WORKER_CPUS=
WORKER_NODE_OPTIONS=
WORKER_DATABASE_CONNECTION_LIMIT=

NGINX_MEMORY_LIMIT=
NGINX_CPUS=

STORAGE_DRIVER=
STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_FORCE_PATH_STYLE=

MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_MEMORY_LIMIT=
MINIO_CPUS=

ATTACHMENT_UPLOAD_RATE_LIMIT_MAX=
ATTACHMENT_UPLOAD_RATE_LIMIT_WINDOW_MS=
DOCUMENT_UPLOAD_RATE_LIMIT_MAX=
DOCUMENT_UPLOAD_RATE_LIMIT_WINDOW_MS=

AI_PROVIDER=
AI_OPENAI_API_KEY=
AI_OPENAI_BASE_URL=
AI_OPENAI_PROVIDER_NAME=
AI_OPENAI_MODEL=
